#cnt_footer{
    display: flex;
    align-items: center;
    background-color: #2d314e;
    font-family: 'Montserrat', 'Arial', sans-serif;
    padding: 20px;

}

.ftr_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 180px;
}

.ftr_container .logo{
    margin-top: -50px;
}

.ftr_container h1{
    font-size: 24px;
    margin-left: 8px;
    margin-top: -30px;
}

.ftr_container ul{
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    list-style: none;
    margin-left: 50px;
}

.ftr_container li{
    margin-right: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.5s;
}

.ftr_container li:hover{
    color: rgba(255, 255, 255, 0.452);
}

.ftr_container .midias{
    position: absolute;
    margin-bottom: -50px;
    margin-left: -820px;
}

.midias img{
    margin-left: 15px;
    width: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: filter 0.45s;
}

.midias img:hover{
    filter: invert(1);
}

.invite{
    margin-left: 190px;
}

.invite p {
    font-size: 13px;
    color: #ffffff54;
}

.invite .btn-account{
    margin-left: 70px;
    margin-bottom: 5px;
}
