.container{
    margin-top: 50px;
    background-color: rgba(241, 241, 241, 0.678);
    font-family: 'Montserrat', 'Arial';
    max-width: 1365px;
    overflow: hidden;
}

 
.sect_container{
    margin-left: 180px;
    margin-bottom: 50px;
}

.sect_container h1{
    font-size: 30px;
    margin-top: 50px;
    font-weight: 500;
    color: #000000b9;
}

.sect_container p{
    font-size: 14px;
    color: #00000077;
    margin: 0;
}

.informations{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informations h2{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    color: #000000b9;
}

.informations p{
    font-size: 12px;
}

.logo_info{
    width: 200px;
    margin-top: 40px;
    margin-right: 100px;
}

.logo_info img{
    transition: transform 1.0s;
}

.logo_info img:hover{
    transform: scaleX(-1) rotatey(180deg);
}

